@font-face {
  font-family: Satoshi;
  src: url(./assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}

@font-face {
  font-family: Integral CF;
  src: url(./assets/fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf);
}

img {
  display: block;
  min-width: 100%;
}